

<!-- to send data to the child form parrent class mense app componenets to child -->
  
<!-- <h1>INSIDE PARENT COMPONENTS</h1> -->


<!-- <app-child [Data]="Massage" ></app-child> -->

<!-- <app-childto-parent (MyEvent)="Data=$event"></app-childto-parent> -->

<!-- <h1>Massage from child :{{Data}}</h1> -->




<app-demo></app-demo>

<app-child1></app-child1>

<!-- <app-child2></app-child2> -->
<!-- <app-child3></app-child3> -->




<h1>Marvellous Knowladge Shairing Portal</h1>



<h2>Select the below options</h2>

<nav>

<a routerLink="/batches">batches</a>
<a routerLink="/subject">subjects</a>
<a routerLink="/about">About-us</a>

</nav>
<!-- //routing we shipfting owr apliication from one component to another component is called routing ... -->
<router-outlet></router-outlet>
